#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
  
  /*
  conteudo antigo
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
  */
}
.header-2 {
  flex: 1; 
  overflow: auto;
}

.tab-panels {
  min-height: 0; /* Override padrão do flexbox para garantir que o conteúdo possa expandir */
  flex-grow: 1; /* Permite que o painel cresça e ocupe o espaço disponível */
}

.users-list {
  flex-grow: 1; /* Permite que a lista de usuários cresça e preencha o espaço vertical */
  overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo exceder a altura */
}