.newsletter-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .subject-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .react-quill-container {
    height: 350px;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  .send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  