<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cadastro - Trilha DevOps</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap:; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src *; img-src * data: blob: android-webview-video-poster:; style-src * 'unsafe-inline';">


    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Trilha DevOps</h6>
                <h1 class="mb-5">Link de recomendação</h1>
            </div>
            <div class="container-xxl py-5" id="cadastro">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="img-fluid position-absolute w-100 h-100" src="static/img/devops-infinito-evento.jpg" alt="" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                            <h6 class="section-title bg-white text-start text-primary pe-3">Trilha DevOps</h6>
                            
                            <div class="text-align mb-4">
                                <h2 class="mb-2">Recomende um amigo e ganhe brindes!</h2>
                                <li>Com <b>5</b> recomendações: ganhe o curso Apache do básico ao Avançado</li>
                                <li>Com <b>10</b> recomendações: ganhe o curso Programação Go para DevOps</li>
                                <li>Com <b>15</b> recomendações: ganhe o curso DevOps Mão na Massa</li>
                                <li>Com <b>20</b> recomendações: ganhe o livro Nginx Descomplicado</li>
                                <li>Lider com mais recomendações: Todos os prêmios anteriores</li>
                                
                            </div>
                            
                
                            <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="p-4">
                                    <i class="fa-solid fa-4x fa-gift fa-beat text-primary mb-4"></i>
                                    <h3>Gerar link de recomendação:</h3>
                                        <form action="/recomendacao" method="post" id="form-trilha" data-callback='onSubmit' data-action='submit'>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" placeholder="Seu melhor e-mail">
                                                <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seus dados com terceiros.</small>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nome" class="form-label">Nome</label>
                                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                                            </div>
                                            <button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="6LewbucnAAAAAPhLrCTJgFLIaeyH_wlOUFQg8vGd" data-callback='onSubmit' data-action='submit'>Gerar Link</button>
                                            <br>
                                        </form>
                                        <div id="resultado"></div>
                                        <br>
                                        <div id="link"></div>
                                        <br>
                                        <div id="botaocopy"></div>
                                        <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="https://guerra.academy">Guerra Academy</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


     <!-- JavaScript Libraries -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
     <script src="static/lib/wow/wow.min.js"></script>
     <script src="static/lib/easing/easing.min.js"></script>
     <script src="static/lib/waypoints/waypoints.min.js"></script>
     <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
 
     <!-- Template Javascript -->
     <script src="static/js/main.js"></script>


     <script>
        $(document).ready(function () {
            $("#form-trilha").submit(function (event) {
                // Impedir o envio padrão do formulário
                event.preventDefault();
        
                // Obter os dados do formulário
                var formData = $(this).serialize();
        
                // Enviar a solicitação AJAX
                $.ajax({
                    type: "POST",
                    url: "/recomendacao",
                    data: formData,
                    success: function (response) {
                        // Exibir a resposta na div "result"
                        $("#resultado").html("Link gerado com sucesso!");
                        $("#resultado").addClass("alert alert-success");
                        $("#link").html(response);
                        // Adicionar um botão "Copiar" à div "result"
                        var copyButton = $("<button class='btn btn-primary'>Copiar</button>");
                        $("#botaocopy").append(copyButton);

                        // Adicionar um evento de clique ao botão "Copiar"
                        copyButton.click(function () {
                        // Copiar o texto da div para a área de transferência
                        var textToCopy = $("#link").text().trim();
                        copyTextToClipboard(textToCopy);
                });
                    },
                    error: function () {
                        // Lidar com erros, se necessário
                        $("#resultado").html("Erro ao enviar o formulário.");
                        $("#resultado").addClass("alert alert-error");
                        
                    }
                });
            });
            // Função para copiar texto para a área de transferência
    function copyTextToClipboard(text) {
        var textarea = document.createElement("textarea");
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand("copy");
        document.body.removeChild(textarea);

        // Exibir uma mensagem de sucesso ao usuário
        alert("Link copiado para a área de transferência!");
    }
        });
        </script>
        
</body>

</html>